/* Styles pour les sections spécifiques */
#experiences h3,
#skills h3,
#education h3,
#languages-interests h3 {
    color: #003366; /* Couleur bleu foncé pour les titres */
    border-bottom: 2px solid #003366; /* Trait sous les titres */
    padding-bottom: 10px; /* Espacement entre le titre et le trait */
}

#experiences p,
#skills p,
#education p,
#languages-interests p {
    color: #333; /* Couleur de texte principale */
    font-size: 16px; /* Taille de police */
    line-height: 1.6; /* Hauteur de ligne */
}

.card {
    background-color: #f4f4f4; /* Couleur de fond des sections */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 5px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    margin-bottom: 20px; /* Marge en bas */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    grid-gap: 20px; /* Espacement entre les éléments */
}

/* Styles spécifiques pour les images */
.card img {
    max-width: 100%; /* Image responsive, ne dépasse pas la largeur de son conteneur */
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 10px; /* Espacement en bas */
}

/* Styles pour les listes de compétences/langues */
.card ul {
    list-style-type: disc; /* Puces rondes */
    margin-left: 20px; /* Marge à gauche */
}
